In [1]:
from forecast import hourly_temperature as get_forcast_temperature

In [4]:
latitude = -36.8485
longitude = 174.7635
df = get_forcast_temperature(latitude, longitude)
df

                   date  temperature_2m
0   2024-02-19 00:00:00            25.4
1   2024-02-19 01:00:00            25.7
2   2024-02-19 02:00:00            25.6
3   2024-02-19 03:00:00            25.2
4   2024-02-19 04:00:00            24.6
..                  ...             ...
163 2024-02-25 19:00:00            19.4
164 2024-02-25 20:00:00            21.3
165 2024-02-25 21:00:00            23.0
166 2024-02-25 22:00:00            24.6
167 2024-02-25 23:00:00            26.1

[168 rows x 2 columns]

### Q. In this forecast data what is the hottest day between the 19th and 25th Feb?

Suggested approaches are - 
1. Use the data table to find the max temperature and display the temperature & date
2. Plot the data

In [3]:
# Code goes in here

### Q. For each day, calculate the average temperature between 12:00 pm and 03:00 pm, inclusive.

Start by describing your approach.

In [4]:
# Code goes in here